.c-grid__arrow {
  position: absolute;
  left: 180px;
  top: 20px;
  text-align: center;
  box-sizing: border-box;
  border: 8px solid transparent;
  border-left: 8px solid #fff;

  &__menu {
    width: 0;
    height: 0;
    position: absolute;
    left: 180px;
    top: 27px;
    box-sizing: border-box;
    border: 8px solid transparent;
    border-left: 8px solid #666;
  }

  &__contents {
    width: 0;
    height: 0;
    position: absolute;
    left: 870px;
    top: 515px;
    box-sizing: border-box;
    border: 8px solid transparent;
    border-left: 8px solid #fff;
  }
}