.c-media__logobox {
  position: relative;
  width: 206px;
  height: 130px;

  &__img {
    position: absolute;
    background-image: url(../../img/logo.svg);
    width: 144px;
    height: 95px;
    background-repeat: no-repeat;
  }
}