$phone-width: 480px;

.c-media__logobox {
  width: 206px;
  height: 115px;

  &__img {
    margin: 0 auto;
    background-image: url(../../img/logo.svg);
    width: 144px;
    height: 95px;
    background-repeat: no-repeat;

    @media screen and (max-width: $phone-width) {
      width: 50px;
      height: 40px;
    }
  }
}


