$phone-width: 480px;


.p-home__contents {
  float: left;
  width: 995px;

  @media screen and (max-width: $phone-width) {
    float: none;
    width: 100%;
    margin: 0 auto;
  }

  &__top {
    padding-bottom: 10px;
    width: 860px;
    height: 320px;
    margin: 0 auto;

    @media screen and (max-width: $phone-width) {
      max-width: $phone-width;
      width: 100%;
      height: auto;
    }

    &__img {
      width: 860px;
      height: 320px;
      background-image: url(../../img/top-photo.png);
      background-repeat: no-repeat;

      @media screen and (max-width: $phone-width) {
      width: 100%;
      height: auto;
      padding-top: 37.764%;
      background-size: contain;
      }
    }
  }
}

.p-home__contents__middle {
  width: 860px;
  height: 100%;
  margin: 0 auto;

  @media screen and (max-width: $phone-width) {
    width: 100%;
  }

  &__top {
    position: relative;
    list-style: none;
    width: 860px;
    height: 225px;

    @media screen and (max-width: $phone-width) {
      height: 100%;
      width: 100%;
    }

    &__left {
      float: left;
      width: 412px;
      height: 225px;
      border: 5px solid #ea6cd0;
      background-color: #f5a7cd;
      background-image: url(../../img/entry-logo.png);
      background-repeat: no-repeat;
      background-position: right 4px top 7px;
      margin-right: 6px;

      @media screen and (max-width: $phone-width) {
        float: none;
        // width: 100%;
        // height: 100%;
      }

      &__ttl {
        padding-top: 40px;
        line-height: 35px;
        text-align: center;

        &__small {
          color: #fff;
          font-size: 18px;
          }

        &__big {
          color: #ffff00;
          font-size: 40px;
          font-weight: bold;
        }
      }

      &__txt {
        text-align: center;
        color: #fff;
        font-size: 12px;
        padding-top: 15px;
      }
    }
  }
  &__bottom {
    list-style: none;
    width: 860px;
    height: 100%;
    margin: 0 auto;
    padding-top: 15px;

    @media screen and (max-width: $phone-width) {
      padding-top: 1px;
      width: 100%;
    }
  }
}

.p-home__contents__middle__small {
  position: relative;
  float: left;
  width: 198px;
  height: 225px;
  margin-right: 6px;

  @media screen and (max-width: $phone-width) {
    margin-top: 5px;
  }

  $pages: (
    guide: #537050,
    company: #4b6683,
    reason: #74485b,
    contact: #7b794f,
  );

  &__bg {
    width: 198px;
    height: 225px;
    background-repeat: no-repeat;
  }

  &.is-guide & {
    &__bg {
      background-color: rgba(75, 102, 64, 0.75);
      background-image: url(../../img/guide-logo.png);
    }
  }

  &.is-company & {
    &__bg {
      background-color: rgba(75, 102, 131, 0.75);
      background-image: url(../../img/company-logo.png);
    }
  }

  &.is-reason & {
    &__bg {
      background-color: rgba(116, 71, 91, 0.75);
      background-image: url(../../img/reason-logo.png);
    }
  }

  &.is-contact & {
    &__bg {
      background-color: rgba(123, 121, 79, 0.75);
      background-image: url(../../img/contact-logo.png);
    }
  }

  @each $page, $color in $pages {
    &.is-#{$page} {
      border: 5px solid #{$color};
      background-image: url(../../img/#{$page}-bg.png);
    }
  }
}

.p-home__contents__middle__large__right {
  float: left;
  position: relative;
  width: 412px;
  height: 225px;
  border: 5px solid #65605D;
  background-image: url(../../img/business-bg.png);
  background-repeat: no-repeat;

  @media screen and (max-width: $phone-width) {
    float: none;
    margin-top: 245px;
  }

  &__bg {
    width: 412px;
    height: 100%;
    background-color: rgba(102, 102, 102, 0.75);
    background-image: url(../../img/business-logo.png);
    background-repeat: no-repeat;
  }
}



.p-home__contents__ttl {
  font-size: 22px;
  color: #fff;
  text-align: center;
  padding-top: 160px
}

.p-home__contents__txt {
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 15px;
}

.p-home__intro {
  float: left;
  width: 995px;

  @media screen and (max-width: $phone-width) {
    width: 100%;
  }

  &__box {
    width: 860px;
    margin: 0 auto;
    padding-top: 40px;

    @media screen and (max-width: $phone-width) {
      width: 100%;
    }
  }

  &__ttl {
    text-align: center;
    font-size: 30px;
    color: #4d4d4d;
    border-bottom: 2px dashed #6bc04b;
    padding-bottom: 15px;

    @media screen and (max-width: $phone-width) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__contents {
    height: 213px;
    list-style: none;
    border: 5px solid #ea6cb0;
    margin-top: 15px;

    @media screen and (max-width: $phone-width) {
      border: none;
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }

    & > li {
      float: left;
      width: 25%;
      height: 213px;
      border-right: 2px solid #ea6cb0;

      @media screen and (max-width: $phone-width) {
        width: 85%;
        float: none;
        border: 2px solid #ea6cb0;
        margin: 0 auto;
        margin-top: 5px;
      }

      &:nth-child(4) {
        border-right: none;
        width: 200px;

        @media screen and (max-width: $phone-width) {
          border: 2px solid #ea6cb0;
          width: 85%;
        }
      }
    }

    &__ttl {
      font-size: 25px;
      color: #ea6cb0;
      text-align: center;
      padding-top: 15px;
    }

    &__txt {
    font-size: 16px;
    color: #666666;
    text-align: center;
    padding-top: 5px;
    }

    &__img-mass {
      background-image: url(../../img/intro-icon1.png);
      background-repeat: no-repeat;
      width: 207px;
      height: 137px;

      @media screen and (max-width: $phone-width) {
        margin: 0 auto;
      }
    }

    &__img-sales {
      background-image: url(../../img/intro-icon2.png);
      background-repeat: no-repeat;
      width: 207px;
      height: 137px;

      @media screen and (max-width: $phone-width) {
        margin: 0 auto;
      }
    }

    &__img-call {
      background-image: url(../../img/intro-icon3.png);
      background-repeat: no-repeat;
      width: 207px;
      height: 137px;

      @media screen and (max-width: $phone-width) {
        margin: 0 auto;
      }
    }

    &__img-comp {
      background-image: url(../../img/intro-icon4.png);
      background-repeat: no-repeat;
      width: 207px;
      height: 137px;

      @media screen and (max-width: $phone-width) {
        margin: 0 auto;
      }
    }
  }
}

.p-home__news {
  float: left;
  width: 995px;

  @media screen and (max-width: $phone-width) {
    width: 100%;
  }

  &__box {
    width: 860px;
    margin: 0 auto;
    padding-top: 40px;

    @media screen and (max-width: $phone-width) {
      float: none;
      width: 100%;
    }
  }

  &__ttl {
    text-align: center;
    font-size: 30px;
    color: #4d4d4d;
    border-bottom: 2px dashed #6bc04b;
    padding-bottom: 15px;

    @media screen and (max-width: $phone-width) {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__contents {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #666666;

    @media screen and (max-width: $phone-width) {
      width: 90%;
      margin: 0 auto;
      padding-top: 15px;
    }

    &__date {
      float: left;
      font-size: 15px;
      color: #666666;
      margin-right: 40px;
    }

    &__txt {
      font-size: 15px;
      color: #666666;
    }
  }
}




