.wrapper {
  width: 100%;
  margin: 0 auto;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

body {
  background: linear-gradient(180deg, rgba(234, 108, 176, .1), rgb(255, 255, 255)) fixed;
  border-top: 5px solid #ea6cb0;
  padding-top: 20px;

}