.l-sidebar__entry {
  position: relative;
  width: 202px;
  height: 97px;
  background-color: #ee6bac;
  color: #fff;

  &__top {
    text-align: center;
    font-size: 24px;
  }
}



.l-sidebar__menu {
  list-style: none;
}