.l-sidebar {
  float: left;
  width:205px;
}


.l-sidebar__entry {
  position: relative;
  width: 202px;
  height: 97px;
  background-color: #ee6bac;
  color: #fff;
  box-shadow: 3px 3px #c90286;
  border-radius: 5px;
  cursor: pointer;

  &__top {
    margin: 0 auto;
    width: 165px;
    height:30px;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
  }

  &__bottom {
    margin: 0 auto;
    text-align: center;
    width: 165px;
    height: 1px;
    font-size: 13px;
    line-height: 10px;
  }
}



.l-sidebar__bottom {
  padding-top: 5px;

    & > li {
    position: relative;
    list-style: none;
    width: 205px;
    height: 75px;
    background: linear-gradient(180deg, #fff, #eeeeef);
    }

  &__ja {
    font-size: 19px;
    text-align: center;
    padding-top: 25px;
    color: #666;
  }

  &__en {
    font-size: 11px;
    text-align: center;
    padding-top: 10px;
    color: #999966;
  }
}